.add-button,
.submit-button {
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
}

.add-button:hover,
.submit-button:hover {
    background-color: var(--color-secondary);
}

.content-container {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
}
.content input {
    border: none;
    border-radius: 6px;
}

.description-container{
    margin-left: 1.8rem;
}

.description-container textarea {
    border-radius: 7px;
}

.mail-container{
    margin-left: 1.8rem;
}

.mail-container input{
    margin-left: 0.5rem;
    margin-right: 2rem;
    border: none;
    border-radius: 6px;
}