.add-button,
.submit-button {
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
}

.add-button:hover,
.submit-button:hover {
    background-color: var(--color-secondary);
}

.content-container {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
}